
ion-card-header {
    background-color: var(--ion-color-tesishubv2);
    color:#dc3545;
    padding: 3px 0px 3px 15px  ;
}

ion-img {
    width: 35%;
    height: 35%
}

ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

ion-button{
    --background: var(--ion-color-tesishubv4-tint); /* Color gris oscuro para el botón */
    color: var(--ion-color-tesishub-contrast); /* Color blanco para el texto del botón */
}

ion-button:active{
    --background: var(--ion-color-tesishub-tint); /* Color gris más oscuro al pasar el mouse */
}

ion-label{
    color:#ffffff;
    font-size: 1.5rem;
}

.welcome {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    
    p{
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }

}

.input {
    font-size: 300;
}

.passwdReset{
    display: flex;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}

.background-image {
    background-image: url('/assets/libraryBg4.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Establece la altura al 100% del viewport height */
    position: fixed;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    z-index: -1;
}

ion-card {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia el valor alpha (0.5) para ajustar la opacidad */
}

ion-content{
    margin: 0;
    padding: 0;
}
