ion-icon{
    font-size: 1.5rem;
    color: #ffffff;
}

ion-content{
    --background: var(--ion-color-tesishub);
}

ion-list{
    background-color: var(--ion-color-tesishub);
}

ion-item{
   --background: var(--ion-color-tesishub);
   color:#ffffff;
}
// ion-menu::part(backdrop) {
//     background-color: rgba(12, 15, 31, 0.5);
// }
  
// ion-menu::part(container) {
//     border-radius: 0 15px 15px 0;
//     box-shadow: 4px 0px 16px rgb(226, 230, 232);
// }

