

ion-card-header{
    background-color: var(--ion-color-tesishubv2);
    color:#dc3545;
    padding: 3px 0px 3px 15px  ;
}

ion-img{
    width: 35%;
    height: 35%
}

.welcome {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 5px;
    
    p{
        color: grey;
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }

}

.input {
    font-size: 300;
}

ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.passwdReset{
    display: flex;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}