<ion-header [translucent]="true">
  <ion-toolbar color="tesishubfire">
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    
    <div class="welcome">
      <ion-img src="assets/img/logo.png"/>
      <p>Ingrese su cuenta de correo electronico</p>
    </div>
  
    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-icon name="at-outline"></ion-icon>
          <ion-input placeholder="Correo electrónico" class="input"></ion-input>
        </ion-item>
        
      </div>
    </form>

  </ion-card>
</ion-content>
